<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    <properties resource="config/config.properties">-->
<!--        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/peng"/>-->
<!--    </properties>-->

    <settings>
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>

<!--    <typeHandlers>-->
<!--        <typeHandler handler="com.peng.PengTypeHandler" jdbcType="VARCHAR" javaType="Integer"/>-->
<!--    </typeHandlers>-->


    <!-- 本质就是一个map，alias为key，type为value -->
    <typeAliases>
<!--        <typeAlias type="com.peng.UserInfo" alias="UserInfo"/>-->
<!--        <typeAlias type="com.peng.BlogInfo" alias="BlogInfo"/>-->
        <package name="com.peng"/>
    </typeAliases>

<!--    <plugins>-->
<!--        <plugin interceptor="com.zhouyu.ZhouyuPlugin">-->
<!--            <property name="someProperty" value="100"/>-->
<!--        </plugin>-->

<!--    </plugins>-->

    <environments default="mysql">
        <environment id="mysql" >
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/peng"/>
                <property name="username" value="root"/>
                <property name="password" value="peng1234"/>
            </dataSource>
        </environment>
        <environment id="postgres">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://127.0.0.1:5432/my_db"/>
                <property name="username" value="postgres"/>
                <property name="password" value="Zhouyu123456..."/>
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="PostgreSQL" value="postgres"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="com/peng/mapper/UserMapper.xml"/>
    </mappers>

</configuration>
